In [1]:
import pandas as pd
import numpy as np

In [2]:
X = pd.read_csv("dengue_features_train.csv")
y = pd.read_csv("dengue_labels_train.csv")

X.shape, y.shape

((1456, 24), (1456, 4))

In [3]:
X["city"].value_counts()

city
sj    936
iq    520
Name: count, dtype: int64

In [4]:
y.groupby("city")["total_cases"].describe()

      count       mean        std  min  25%   50%   75%    max
city
iq    520.0   7.565385  10.765478  0.0  1.0   5.0   9.0  116.0
sj    936.0  34.180556  51.381372  0.0  9.0  19.0  37.0  461.0

In [5]:
y["total_cases"].describe()

count    1456.000000
mean       24.675137
std        43.596000
min         0.000000
25%         5.000000
50%        12.000000
75%        28.000000
max       461.000000
Name: total_cases, dtype: float64

In [6]:
X.describe().T

,count,mean,std,min,25%,50%,75%,max
year,1456.0,2001.031593,5.408314,1990.000000,1997.000000,2002.000000,2005.000000,2010.000000
weekofyear,1456.0,26.503434,15.019437,1.000000,13.750000,26.500000,39.250000,53.000000
ndvi_ne,1262.0,0.142294,0.140531,-0.406250,0.044950,0.128817,0.248483,0.508357
ndvi_nw,1404.0,0.130553,0.119999,-0.456100,0.049217,0.121429,0.216600,0.454429
ndvi_se,1434.0,0.203783,0.073860,-0.015533,0.155087,0.196050,0.248846,0.538314
ndvi_sw,1434.0,0.202305,0.083903,-0.063457,0.144209,0.189450,0.246982,0.546017
precipitation_amt_mm,1443.0,45.760388,43.715537,0.000000,9.800000,38.340000,70.235000,390.600000
reanalysis_air_temp_k,1446.0,298.701852,1.362420,294.635714,297.658929,298.646429,299.833571,302.200000
reanalysis_avg_temp_k,1446.0,299.225578,1.261715,294.892857,298.257143,299.289286,300.207143,302.928571
reanalysis_dew_point_temp_k,1446.0,295.246356,1.527810,289.642857,294.118929,295.640714,296.460000,298.450000
reanalysis_max_air_temp_k,1446.0,303.427109,3.234601,297.800000,301.000000,302.400000,305.500000,314.000000
reanalysis_min_air_temp_k,1446.0,295.719156,2.565364,286.900000,293.900000,296.200000,297.900000,299.900000
reanalysis_precip_amt_kg_per_m2,1446.0,40.151819,43.434399,0.000000,13.055000,27.245000,52.200000,570.500000
reanalysis_relative_humidity_percent,1446.0,82.161959,7.153897,57.787143,77.177143,80.301429,86.357857,98.610000
reanalysis_sat_precip_amt_mm,1443.0,45.760388,43.715537,0.000000,9.800000,38.340000,70.235000,390.600000
reanalysis_specific_humidity_g_per_kg,1446.0,16.746427,1.542494,11.715714,15.557143,17.087143,17.978214,20.461429
reanalysis_tdtr_k,1446.0,4.903754,3.546445,1.357143,2.328571,2.857143,7.625000,16.028571
station_avg_temp_c,1413.0,27.185783,1.292347,21.400000,26.300000,27.414286,28.157143,30.800000
station_diur_temp_rng_c,1413.0,8.059328,2.128568,4.528571,6.514286,7.300000,9.566667,15.800000
station_max_temp_c,1436.0,32.452437,1.959318,26.700000,31.100000,32.800000,33.900000,42.200000
station_min_temp_c,1442.0,22.102150,1.574066,14.700000,21.100000,22.200000,23.300000,25.600000
station_precip_mm,1434.0,39.326360,47.455314,0.000000,8.700000,23.850000,53.900000,543.300000

In [7]:
X.isna().mean().sort_values(ascending=False)

ndvi_ne                                  0.133242
ndvi_nw                                  0.035714
station_avg_temp_c                       0.029533
station_diur_temp_rng_c                  0.029533
ndvi_sw                                  0.015110
station_precip_mm                        0.015110
ndvi_se                                  0.015110
station_max_temp_c                       0.013736
station_min_temp_c                       0.009615
precipitation_amt_mm                     0.008929
reanalysis_sat_precip_amt_mm             0.008929
reanalysis_max_air_temp_k                0.006868
reanalysis_relative_humidity_percent     0.006868
reanalysis_precip_amt_kg_per_m2          0.006868
reanalysis_min_air_temp_k                0.006868
reanalysis_air_temp_k                    0.006868
reanalysis_dew_point_temp_k              0.006868
reanalysis_avg_temp_k                    0.006868
reanalysis_tdtr_k                        0.006868
reanalysis_specific_humidity_g_per_kg    0.006868
city                                     0.000000
year                                     0.000000
weekofyear                               0.000000
week_start_date                          0.000000
dtype: float64

In [8]:
y.groupby(["city", "year"])["total_cases"].sum()

city  year
iq    2000       4
      2001      14
      2002     704
      2003     114
      2004     638
      2005     311
      2006     436
      2007     365
      2008     801
      2009     324
      2010     223
sj    1990     866
      1991    2801
      1992    2371
      1993    1156
      1994    6533
      1995    1333
      1996     855
      1997    1454
      1998    4595
      1999    1633
      2000     492
      2001    1463
      2002     452
      2003     949
      2004     610
      2005    1805
      2006     550
      2007    1969
      2008     106
Name: total_cases, dtype: int64

In [9]:
tmp = X.merge(y, on=["city","year","weekofyear"])
tmp.corr(numeric_only=True)["total_cases"].sort_values(ascending=False)

total_cases                              1.000000
reanalysis_min_air_temp_k                0.325252
station_min_temp_c                       0.267109
reanalysis_air_temp_k                    0.264952
weekofyear                               0.216452
reanalysis_avg_temp_k                    0.151637
reanalysis_dew_point_temp_k              0.142531
reanalysis_specific_humidity_g_per_kg    0.129861
station_avg_temp_c                       0.116109
reanalysis_precip_amt_kg_per_m2         -0.010031
reanalysis_sat_precip_amt_mm            -0.038740
precipitation_amt_mm                    -0.038740
station_max_temp_c                      -0.039219
station_precip_mm                       -0.074374
reanalysis_relative_humidity_percent    -0.132452
ndvi_se                                 -0.168612
reanalysis_max_air_temp_k               -0.191345
ndvi_sw                                 -0.196461
ndvi_nw                                 -0.202235
station_diur_temp_rng_c                 -0.237844
ndvi_ne                                 -0.241376
reanalysis_tdtr_k                       -0.278483
year                                    -0.306806
Name: total_cases, dtype: float64

In [10]:
import numpy as np
import pandas as pd

from sklearn.pipeline import Pipeline
from sklearn.preprocessing import StandardScaler, PolynomialFeatures
from sklearn.impute import SimpleImputer
from sklearn.linear_model import Ridge
from sklearn.metrics import mean_absolute_error

In [11]:
X = pd.read_csv("dengue_features_train.csv")
y = pd.read_csv("dengue_labels_train.csv")

df = X.merge(y, on=["city","year","weekofyear"])

# Mevsimsellik (weekofyear -> sin/cos)
df["sin_week"] = np.sin(2*np.pi*df["weekofyear"]/52)
df["cos_week"] = np.cos(2*np.pi*df["weekofyear"]/52)

In [12]:
DROP_COLS = ["city", "week_start_date", "weekofyear", "total_cases"]

FEATURES = [
    # zaman
    "year", "sin_week", "cos_week",
    # ndvi
    "ndvi_ne","ndvi_nw","ndvi_se","ndvi_sw",
    # yağış
    "precipitation_amt_mm","reanalysis_precip_amt_kg_per_m2",
    "reanalysis_sat_precip_amt_mm","station_precip_mm",
    # sıcaklık
    "reanalysis_air_temp_k","reanalysis_avg_temp_k",
    "reanalysis_min_air_temp_k","reanalysis_max_air_temp_k",
    "station_avg_temp_c","station_min_temp_c","station_max_temp_c",
    # nem/türev
    "reanalysis_relative_humidity_percent",
    "reanalysis_specific_humidity_g_per_kg",
    "reanalysis_dew_point_temp_k",
    "reanalysis_tdtr_k","station_diur_temp_rng_c",
]

In [13]:
def time_split(city_df, val_frac=0.2):
    city_df = city_df.sort_values(["year","weekofyear"])
    n = len(city_df)
    cut = int((1 - val_frac) * n)
    train = city_df.iloc[:cut]
    val   = city_df.iloc[cut:]
    return train, val

In [14]:
def make_pipeline(degree, alpha=1.0):
    return Pipeline(steps=[
        ("imputer", SimpleImputer(strategy="mean")),
        ("scaler", StandardScaler()),
        ("poly", PolynomialFeatures(degree=degree, include_bias=False)),
        ("ridge", Ridge(alpha=alpha))
    ])

In [15]:
results = []

for city in ["sj", "iq"]:
    cdf = df[df["city"] == city].copy()
    train, val = time_split(cdf, val_frac=0.2)

    Xtr, ytr = train[FEATURES], train["total_cases"]
    Xva, yva = val[FEATURES],   val["total_cases"]

    for deg in [2,3,4]:
        pipe = make_pipeline(degree=deg, alpha=1.0)
        pipe.fit(Xtr, ytr)
        preds = pipe.predict(Xva)
        mae = mean_absolute_error(yva, preds)
        results.append({"city": city, "degree": deg, "MAE": mae})

pd.DataFrame(results).sort_values(["city","MAE"])

  city  degree         MAE
3   iq       2   12.225754
5   iq       4   17.350225
4   iq       3   24.542154
0   sj       2   40.862354
1   sj       3  130.218103
2   sj       4  213.237052

In [16]:
import numpy as np
import pandas as pd

from sklearn.pipeline import Pipeline
from sklearn.preprocessing import StandardScaler, PolynomialFeatures
from sklearn.impute import SimpleImputer
from sklearn.linear_model import Ridge

X_train = pd.read_csv("dengue_features_train.csv")
y_train = pd.read_csv("dengue_labels_train.csv")
X_test  = pd.read_csv("dengue_features_test.csv")
sub     = pd.read_csv("submission_format.csv")

def add_season(df):
    df = df.copy()
    df["sin_week"] = np.sin(2*np.pi*df["weekofyear"]/52)
    df["cos_week"] = np.cos(2*np.pi*df["weekofyear"]/52)
    return df

X_train = add_season(X_train)
X_test  = add_season(X_test)

train_df = X_train.merge(y_train, on=["city","year","weekofyear"])

FEATURES = [
    "year", "sin_week", "cos_week",
    "ndvi_ne","ndvi_nw","ndvi_se","ndvi_sw",
    "precipitation_amt_mm","reanalysis_precip_amt_kg_per_m2",
    "reanalysis_sat_precip_amt_mm","station_precip_mm",
    "reanalysis_air_temp_k","reanalysis_avg_temp_k",
    "reanalysis_min_air_temp_k","reanalysis_max_air_temp_k",
    "station_avg_temp_c","station_min_temp_c","station_max_temp_c",
    "reanalysis_relative_humidity_percent",
    "reanalysis_specific_humidity_g_per_kg",
    "reanalysis_dew_point_temp_k",
    "reanalysis_tdtr_k","station_diur_temp_rng_c",
]

BEST_DEGREE = {"iq": 2, "sj": 2}  # deg=2 best for both

def make_pipeline(degree, alpha=1.0):
    return Pipeline(steps=[
        ("imputer", SimpleImputer(strategy="mean")),
        ("scaler", StandardScaler()),
        ("poly", PolynomialFeatures(degree=degree, include_bias=False)),
        ("ridge", Ridge(alpha=alpha)),
    ])

preds_all = []

for city in ["sj","iq"]:
    deg = BEST_DEGREE[city]
    pipe = make_pipeline(degree=deg)

    tr = train_df[train_df["city"] == city].sort_values(["year","weekofyear"])
    te = X_test[X_test["city"] == city].sort_values(["year","weekofyear"])

    pipe.fit(tr[FEATURES], tr["total_cases"])
    preds = pipe.predict(te[FEATURES])

    out = te[["city","year","weekofyear"]].copy()
    out["total_cases"] = preds
    preds_all.append(out)

pred_df = pd.concat(preds_all, ignore_index=True)

sub = sub.drop(columns=["total_cases"]).merge(pred_df, on=["city","year","weekofyear"], how="left")

sub["total_cases"] = sub["total_cases"].clip(lower=0).round().astype(int)

sub.to_csv("submission_model1_poly.csv", index=False)
sub.head(), sub.isna().sum()

(  city  year  weekofyear  total_cases
 0   sj  2008          18           23
 1   sj  2008          19            0
 2   sj  2008          20            0
 3   sj  2008          21           37
 4   sj  2008          22           43,
 city           0
 year           0
 weekofyear     0
 total_cases    0
 dtype: int64)

In [18]:
coef = pipe.named_steps["ridge"].coef_
intercept = pipe.named_steps["ridge"].intercept_

In [19]:
coef, intercept

(array([ 2.11862729e+00, -1.54175979e+00,  4.29135357e+00,  6.89696020e-01,
        -1.19826991e+00, -1.61897398e+00,  1.53168582e+00,  1.58329696e-01,
        -6.00040454e-01,  1.58329696e-01, -1.86626321e+00, -1.81214832e+00,
         3.09882836e+00, -3.44610767e-01, -4.06647513e-01, -1.40902506e+00,
         4.67400212e-01,  9.46125452e-01,  3.53904505e+00, -1.01754662e+00,
        -4.02003972e-01, -2.82658872e-01,  5.65814694e-01, -3.63515499e+00,
         2.52913912e+00,  1.24623258e+00,  6.97665882e-01,  9.93470297e-01,
        -1.16462118e+00,  1.29516884e-01, -2.00089252e-01, -1.93282607e-01,
        -2.00089252e-01,  9.36060032e-01, -1.48000777e-01,  3.82045187e+00,
        -1.38484330e+00,  4.24632604e-01,  2.68243528e-01,  6.15319162e-01,
         1.27231657e+00,  2.62958487e+00, -1.26956106e+00, -2.17931485e+00,
        -9.02793062e-01, -1.31366636e+00, -5.70822715e-01, -2.44371265e+00,
        -4.96331966e-03, -2.82081458e-01,  2.05113854e+00, -1.56050187e+00,
         6.38187293e-01, -3.27150349e-01,  6.38187293e-01,  4.70769405e-01,
         1.67722290e+00,  1.61104133e-01,  1.90370075e-01, -7.64552611e-01,
         1.89653382e+00, -2.10637585e+00, -3.34214985e+00, -2.78925357e+00,
         1.49146243e+00,  1.57276955e+00,  2.59733553e-01, -5.26227409e-01,
         5.73312470e-01,  2.57663001e+00,  3.87611739e-01, -2.44275402e+00,
         7.01919380e-01, -2.27595415e-01, -2.40238738e+00, -2.27595415e-01,
        -7.25132158e-01,  3.96966340e+00, -4.82529201e+00, -9.12664374e-01,
        -2.19008298e+00, -1.41898046e+00,  1.14593345e+00,  9.01482673e-01,
        -2.03114624e+00, -1.97554230e+00,  4.62207902e+00, -1.65863819e-01,
         1.80670994e-01,  6.94501205e-01,  1.25280452e+00,  6.17407782e-02,
        -3.05677358e+00,  2.04879230e-01, -1.85874948e+00,  2.04879230e-01,
         8.16906532e-01,  9.53410060e-01, -2.99772469e+00,  2.12839750e+00,
         7.79957869e-01, -2.09410131e+00,  3.46846692e-01, -1.71779278e+00,
         1.65131453e+00, -3.99910014e-01,  1.99362500e+00,  2.70058529e+00,
         7.79989211e-01,  5.86471186e-01,  5.76434493e-01, -1.66276836e+00,
         3.95312992e-01,  1.73879257e+00,  3.95312992e-01, -1.09468526e+00,
         6.03992138e-01, -8.60134644e-01,  1.44913452e+00, -2.32154928e+00,
        -2.07119965e+00,  1.23417673e+00, -1.78579108e+00,  7.14275314e-01,
        -7.03743833e-02, -2.39691825e+00,  2.08928257e+00,  3.26517563e+00,
         1.28656471e-02, -3.86947131e-01, -2.65218505e-01,  1.17230239e+00,
        -2.65218505e-01,  4.22786091e-02, -2.22765736e-01,  4.98128305e+00,
        -1.33683085e+00, -1.79170150e+00,  2.21814209e+00, -7.94209101e-01,
         1.85035292e+00,  1.24624293e+00, -3.15689174e+00, -7.95452480e-01,
        -3.75369020e-01, -1.63502519e+00,  2.46225144e+00, -6.75043367e-01,
        -3.54128832e-01, -6.75043367e-01, -1.80692336e-01,  3.70609580e+00,
        -1.78931959e+00, -7.54703719e-01,  2.06735475e+00,  1.12617710e+00,
        -3.47984314e-01,  4.56510561e-01,  4.38768868e+00, -1.77122685e+00,
        -1.40606482e+00, -2.06430849e+00, -2.12715146e+00,  8.14749183e-02,
         3.78037863e-01,  8.14749183e-02,  1.52013774e-01, -2.90343037e-01,
        -1.09609732e+00,  1.47709982e+00,  3.25477886e-01, -2.27426619e-01,
         3.98319754e-01, -4.03611609e-01, -1.25032984e+00,  5.49117757e-02,
        -4.21393508e-01,  7.01515213e-01,  9.89748515e-01, -2.06540515e-01,
         3.78037863e-01, -6.46903943e-01, -5.12814293e+00,  7.44934820e+00,
         1.36506786e+00, -3.42865920e-01, -4.90189709e-01, -1.22368717e+00,
         2.34289948e+00,  4.81323104e+00, -3.29079663e+00,  1.32350842e+00,
         7.33462409e-01, -9.83972610e-01,  8.14749183e-02,  1.52013774e-01,
        -2.90343037e-01, -1.09609732e+00,  1.47709982e+00,  3.25477886e-01,
        -2.27426619e-01,  3.98319754e-01, -4.03611609e-01, -1.25032984e+00,
         5.49117757e-02, -4.21393508e-01,  7.01515213e-01,  9.89748515e-01,
         4.37155444e-01,  5.75364311e-01,  3.01252475e+00, -2.45275588e+00,
        -3.12796994e-01,  2.50374314e+00, -8.27808981e-01, -9.14635346e-01,
         7.32205481e-01,  3.39861705e+00, -4.00638522e+00, -2.33071784e+00,
        -8.64627039e-01, -5.52125567e+00,  4.16937868e+00,  2.54702660e+00,
         6.95710819e-01, -7.85513899e-01, -9.49500179e-01,  9.83641819e-01,
         3.76940766e+00,  3.08826956e-01,  3.96266935e-01,  6.94991457e+00,
        -2.54294507e+00, -1.63393715e+00,  9.18848776e-01,  3.53802134e+00,
        -2.00114866e+00, -4.31846207e+00,  3.66079495e+00, -1.50176143e+00,
        -8.23489832e-01, -1.70444305e-01,  5.25811360e-01, -2.45393036e+00,
        -1.07154319e+00, -1.42138030e+00,  9.29426008e-01,  2.10825285e+00,
        -2.00527070e+00, -2.94693655e+00, -4.75489606e+00,  3.72960089e+00,
        -2.74004745e+00,  3.44332285e-01,  2.65038296e+00, -9.52052965e-01,
         1.95605929e+00, -2.95321145e+00,  2.75190025e+00, -9.45770813e-01,
        -2.86694014e+00, -7.08602000e+00, -6.02318016e-01, -1.37021849e+00,
         1.60010136e+00,  2.05961888e+00, -3.70876784e+00,  1.86527837e+00,
        -1.59865598e-01,  1.24839886e+00,  1.58361737e+00, -2.83830365e-01,
        -1.98275388e+00, -1.53135320e+00,  5.07074135e+00, -2.10794676e+00,
         2.61763204e+00, -5.64828386e-01, -4.25084587e-01,  3.70876470e-01,
         7.91465612e-01, -2.81742996e+00, -3.61081148e+00,  3.26731574e-01,
        -1.11864295e+00, -7.64298401e-01,  2.03458616e+00, -3.02045163e+00,
        -1.87522582e+00, -3.32042421e+00,  6.46821054e-01,  3.12483483e+00,
         4.76442514e+00,  4.06243469e+00, -2.56989809e+00,  1.50046976e+00,
        -6.06598907e-02,  3.04631630e+00,  1.19255586e-01]),
 np.float64(9.505293168633454))